nav{
    background-color: black;
    height : 90px;
    width: 100%;
    font-family: 'Bungee Tint';

}
ul {
    display: flex; 
    list-style: none; 
    align-items: center; 
    gap: 10px; 
}
 table { width:fit-content; } table, th, td { align-items:center; border: 2px solid black; border-collapse: collapse; } th { text-align: left; } th, td { padding: 25px; }

*{
    margin:0px;
    padding:0px;
}
